{{#extend "layout"}}
    {{#content "body"}}
    	<div id="intro" class="container pr-sm-0 pl-sm-0 pt-12 pb-12">
    		<div class="row">
    			<div class="col-12 col-md-8 col-lg-6">
    				<h2 class="color-black mb-3">Hi, I am Krasi. I am a UI Designer and a Front End Developer.</h2>
    				<p class="mb-0">Have something to say? <span class="link-with-arrow"><a class="pr-4" href="#">Let’s talk<span class="arrow"></span></a></span></p>
    			</div>
    		</div>
    	</div>
    	<div class="container">
    		<div class="row">
				<div class="filter-controls">
					<ul class="m-0 p-0">
						<li class="d-inline-block mr-2" data-filter="all">
							<a href="#" class="nav-link cursor-pointer pt-0 active">All</a>
						</li>
						<li class="d-inline-block mr-2" data-filter="1">
							<a href="#" class="nav-link cursor-pointer pt-0">Web Design</a>
						</li>
						<li class="d-inline-block mr-2" data-filter="2">
							<a href="#" class="nav-link cursor-pointer pt-0">Branding &amp; Identity</a>
						</li>
						<li class="d-inline-block mr-2" data-filter="3">
							<a href="#" class="nav-link cursor-pointer pt-0">Graphic Design</a>
						</li>
						<li class="d-inline-block mr-2" data-filter="4">
							<a href="#" class="nav-link cursor-pointer pt-0">Art &amp; Illustration</a>
						</li>
						<li class="d-inline-block mr-2" data-filter="5">
							<a href="#" class="nav-link cursor-pointer pt-0">Literature</a>
						</li>
						<li class="d-inline-block" data-filter="6">
							<a href="#" class="nav-link cursor-pointer pt-0">Photography</a>
						</li>
					</ul>
				</div>
    		</div>
    	</div>
    	<div id="recent-works" class="container pr-sm-0 pl-sm-0 mb-12">
    		<div class="row filtr-container">
    			{{#each portfolio.projects}}
					<div class="col-12 col-md-6 mb-3 filtr-item" data-height-cells={{this.height-desktop}} data-height-cells-mobile={{this.height-mobile}} data-category={{this.category}}>
						{{> work-card this}}
					</div>
				{{/each}}
    		</div>
			{{!-- <div class="row mb-3">
				<div class="col-12 col-md-3 mb-3 mb-md-0" data-height-cells="6" data-height-cells-mobile="18">
					<div class="h-100 bg-primary color-white">asasd</div>
				</div>
				<div class="col-12 col-md-6 mb-3 mb-md-0" data-height-cells="6" data-height-cells-mobile="12">
					<div class="h-100 bg-primary color-white">asasd</div>
				</div>
				<div class="col-12 col-md-3 d-flex flex-row flex-wrap cell-wrapper">
					<div class="col-12 pr-0 pl-0 mb-3 bg-primary color-white" data-height-cells="3" data-height-cells-mobile="7">asdsadasd</div>
					<div class="col-12 pr-0 pl-0 bg-primary color-white" data-height-cells="3" data-height-cells-mobile="7">asdasdasd</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3 mb-3 mb-md-0 d-flex flex-row flex-wrap cell-wrapper">
					<div class="col-12 pr-0 pl-0 mb-3 bg-primary color-white" data-height-cells="6" data-height-cells-mobile="18">asdsadasd</div>
					<div class="col-12 pr-0 pl-0 bg-primary color-white" data-height-cells="3" data-height-cells-mobile="7">asdasdasd</div>
				</div>
				<div class="col-12 col-md-4 mb-3 mb-md-0" data-height-cells="9" data-height-cells-mobile="12">
					<div class="h-100 bg-primary color-white">asasd</div>
				</div>
				<div class="col-12 col-md-5 d-flex flex-row flex-wrap cell-wrapper">
					<div class="col-12 pr-0 pl-0 mb-3 bg-primary color-white" data-height-cells="3" data-height-cells-mobile="7">asdsadasd</div>
					<div class="col-12 pr-0 pl-0 mb-3 bg-primary color-white" data-height-cells="3" data-height-cells-mobile="7">asdasdasd</div>
					<div class="col-12 pr-0 pl-0 bg-primary color-white" data-height-cells="3" data-height-cells-mobile="7">asdasdasd</div>
				</div>
			</div> --}}
    	</div>
    {{/content}}
{{/extend}}