{{#extend "layout"}}
    {{#content "body"}}
    	<div id="intro" class="container pt-12 pb-12">
    		<div class="row">
    			<div class="col-12 col-md-8 col-lg-6 pl-0">
    				<h2 class="color-black mb-3">Hi, I am Krasi. I am a UI Designer and a Front End Developer.</h2>
    				<p>Have something to say? <span class="link-with-arrow"><a class="pr-4" href="#">Let’s talk<span class="arrow"></span></a></span></p>
    			</div>
    		</div>
    	</div>
    	<div id="recent-works" class="container">
    		<div class="row">
    			
    		</div>
    	</div>
    {{/content}}
{{/extend}}