@font-face {
    font-family: 'icon-font';
    src: url('../fonts/icon-font.eot?nq5rrv');
    src: url('../fonts/icon-font.eot?nq5rrv#iefix') format('embedded-opentype'),
        url('../fonts/icon-font.ttf?nq5rrv') format('truetype'),
        url('../fonts/icon-font.woff?nq5rrv') format('woff'),
        url('../fonts/icon-font.svg?nq5rrv#icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-caret-right:before {
    content: "\e900";
}

.icon-art-and-illustration:before {
    content: "\ea0a";
}

.icon-branding-and-identity:before {
    content: "\ea0b";
}

.icon-gaming:before {
    content: "\ea0c";
}

.icon-graphic-design:before {
    content: "\ea0d";
}

.icon-literature:before {
    content: "\ea0e";
}

.icon-photography:before {
    content: "\ea0f";
}

.icon-web-design:before {
    content: "\ea10";
}

.icon-github:before {
    content: "\e970";
}

.icon-grid:before {
    content: "\e973";
}

.icon-instagram:before {
    content: "\e97d";
}

.icon-link:before {
    content: "\e982";
}

.icon-x:before {
    content: "\ea02";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-dribbble:before {
    content: "\eaa7";
}

.icon-linkedin:before {
    content: "\eaca";
}