<footer class="bg-dark pt-4 pb-4 text-center">
	<a class="color-white pr-1 pl-1 mr-sm-3 ml-sm-3 mr-1 ml-1" href="https://www.instagram.com/krasistoyanov99/" target="_blank"><i class="icon-instagram"></i></a>
	<a class="color-white pr-1 pl-1 mr-sm-3 ml-sm-3 mr-1 ml-1" href="https://www.facebook.com/krasimir.stoyanov.99" target="_blank"><i class="icon-facebook"></i></a>
	<a class="color-white pr-1 pl-1 mr-sm-3 ml-sm-3 mr-1 ml-1" href="https://github.com/KrasiStoyanov" target="_blank"><i class="icon-github"></i></a>
	<a class="color-white pr-1 pl-1 mr-sm-3 ml-sm-3 mr-1 ml-1" href="https://dribbble.com/KrasiStoyanov" target="_blank"><i class="icon-dribbble"></i></a>
	<a class="color-white pr-1 pl-1 mr-sm-3 ml-sm-3 mr-1 ml-1" href="https://www.linkedin.com/in/krasistoyanov/" target="_blank"><i class="icon-linkedin"></i></a>
</footer>