<footer class="bg-dark pt-4 pb-4 text-center">
	<a class="color-white pr-1 pl-1 mr-3 ml-3" href="#"><i class="icon-instagram"></i></a>
	<a class="color-white pr-1 pl-1 mr-3 ml-3" href="#"><i class="icon-facebook"></i></a>
	<a class="color-white pr-1 pl-1 mr-3 ml-3" href="#"><i class="icon-github"></i></a>
	<a class="color-white pr-1 pl-1 mr-3 ml-3" href="#"><i class="icon-dribbble"></i></a>
	<a class="color-white pr-1 pl-1 mr-3 ml-3" href="#"><i class="icon-linkedin"></i></a>
</footer>