$white:          #fff;
$gray:           #8D8D8D;
$black:          #000;
$matte-black:    #181A1D;

$ink:            #3F59FF;
$blue:           $ink;

$primary:        $blue;
$secondary:      $gray;
$dark:           $matte-black;

$body-color:     $gray;
