@keyframes portRightLineStart {
    0% {
        transform: translateY(-50%) translateX(-75px) scaleX(0);
    }

    100% {
        transform: translateY(-50%) translateX(0px) scaleX(1);
    }
}

@keyframes rightLineStart {
    0% {
        transform: translateY(-50%) translateX(-100px) scaleX(0);
    }

    100% {
        transform: translateY(-50%) translateX(0px) scaleX(1);
    }
}

@keyframes rightLineEnd {
    0% {
        transform: translateY(-50%) translateX(0px) scaleX(1);
    }

    100% {
        transform: translateY(-50%) translateX(30px) scaleX(0);
    }
}

@keyframes rightLineStart2 {
    0% {
        transform: translateY(-50%) translateX(100px) scaleX(0);
    }

    100% {
        transform: translateY(-50%) translateX(0px) scaleX(1);
    }
}

@keyframes rightLineEnd2 {
    0% {
        transform: translateY(-50%) translateX(0px) scaleX(1);
    }

    100% {
        transform: translateY(-50%) translateX(-30px) scaleX(0);
    }
}

@keyframes rightArrowLineStart {
    0% {
        stroke-dashoffset: 30px;
    }

    100% {
        stroke-dashoffset: 40px;
    }
}

@keyframes rightArrowLineEnd {
    0% {
        stroke-dashoffset: 40px;
    }

    100% {
        stroke-dashoffset: 50px;
    }
}