.nav-link:not(.icon) {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 5px;
		left: 0;
		height: 2px;
		background-color: $primary;
		transform: scaleX(0);
		@include transition(transform .3s ease-out);
	}

	&:hover,
	&:active,
	&:focus {
		&:after {
			transform: scaleX(1);
		}
	}
}

.show > .nav-link,
.active > .nav-link,
.nav-link.show,
.nav-link.active {
	&:after {
		transform: scaleX(1);
	}
}