#works-bar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;

	.category {
		&:hover,
		&:active,
		&:focus,
		&.active {
			.box {
				border-color: $primary;
			}
		}
	}

	.box {
		width: 100px;
		height: 100px;
		border: 1px solid $border-color;
		border-radius: $border-radius;
		font-size: 24px;
		@include transition(border-color .3s ease-in-out);
	}
}