$navbar-padding-y:                  ($spacer * 1.875);
$navbar-padding-x:                  0;

$navbar-brand-height:               3.125rem; // 50px
$navbar-brand-padding-y:            0;

$navbar-light-color:                $black;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;
$navbar-light-toggler-border-color: transparent;