$description-line-height: ($spacer * 1.875);

$quote-height: 500px;
$quote-image-max-height: 100px;

$approach-images-wrapper-height: 410px;
$approach-square-size: 250px;
$approach-top-image-top: -80px;
$approach-top-image-left: -50px;
$approach-bottom-image-top: -170px;
$approach-bottom-image-left: 50px;

$check-icon: '\e908';
$color-size: 75px;